body {
    background: grey;
}

.flex-image {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}


.flex-image > img {
    border: 1px solid white;
    max-width: 25%;
    max-height: 25%;
    
}